.pokeb {
    min-width: 300px;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: 350px 350px;
    background-position: 50px 200px;
    transition: all 0.5s ease-in 0.3s;
  }
  
.pokeb.open {
    background-color: var(--background-white);
    transition: all 0,5 ease-in;
}
.pokeb button {
    border: 1px solid var(--pokeb-black);
    background-color: var(--pokeb-grey);
    box-shadow: 
        inset 0px -3px 0px 0px #bdbdbd,
        inset 0px -4px 0px 0px var(--pokeb-black),
        0px 0px 0px 10px  var(--pokeb-grey),
        0px 0px 0px 10px  var(--pokeb-grey),
        0px 0px 0px 24px  var(--pokeb-black);
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 999;
    transition: top 1s;
    transition-delay: 0.3s;
    cursor: pointer;


}

.pokeb button:active {
    outline: 0;
    box-shadow:
    inset 0px 3px 0px 0px #bdbdbd,
    inset 0px 4px 0px 0px var(--pokeb-black),
    0px 0px 0px 10px  var(--pokeb-grey),
    0px 0px 0px 10px  var(--pokeb-grey),
    0px 0px 0px 24px  var(--pokeb-black),
    0px 5px 0px 24px rgba(0, 0, 0, 0.1);
    
}

.pokeb::before {
    content: '';
    width: 100%;
    top: 0;
    background-color: var(--pokeb-red);
    position: absolute;
    height: calc(50% - 9px);
    border-bottom: 19px solid var(--pokeb-black);
    transition: all 1s;
    transition-delay: 0.3s;
}

.pokeb.open::before {
    top: -40%;
    box-shadow:  0px 5px 0px 0px rgba(0, 0, 0, 0.1);
    transition-delay: 0s;
}

.pokeb::after {
    content: '';
    width: 100%;
    top: calc(50% -9px);
    background-color: white ;
    position: absolute;
    height: calc(50% -2px);
    border-top: 2px solid var(--pokeb-black);
    background-image: 
    radial-gradient(var(--pokeb-black) 35px, transparent 35px),
    radial-gradient(black 35px, transparent 36px),
    radial-gradient(var(--pokeb-black) 47px, transparent 47px)
    ;
    background-size: 96px 96px; 
    background-position: 50% -57px;
    background-repeat: no-repeat;
    transition: all 1s;
    transition-delay: 0s;



}
.pokeb.pokeb.open::after {
    top: 90%;
    box-shadow:  0px -5px 0px 0px rgba(0, 0, 0, 0.1);
    transition-delay: 0s;

}
.pokeb button svg {
    margin: 0 0 4px 4px;
}
.pokeb button:active svg {
    margin: 0 0 4px 4px;
}
.pokeb article {
    margin: 0 20px;
    font-size: 13px;
}
.pokeb p {
    margin: 20px 0;
}

