/* Estilos generales */
* {
  font-family: 'Bentham', sans-serif;
  font-weight: 300;
}

.container {
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  height:100%;
}

#card {
  position: relative;
  width: 100%;
  padding: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  border-radius: 0px;

  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0px;
  height: 500px;

}

#card:hover {
  transform: scale(1.05);
}

#card img {
  display: block;
  width: 180px;
  max-height: 190px;
  position: relative;
  margin: 15px auto;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.4));
}

.poke-name {
  text-align: center;
  font-weight: 300;
  font-family: 'Bentham', sans-serif;
  color: #4A2C16;
}

/* Botón estilizado */
#btn {
  display: block;
  padding: 15px 60px;
  background-color: #101010;
  color: #ffffff;
  position: relative;
  margin: 50px auto;
  cursor: pointer;
  border: none;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.878);
  border-radius: 0rem;
}

#btn:hover {
  background-color: #333333;
}

/* Responsividad */
@media (max-width: 768px) {
  .container {
    width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #card {
    padding: 18px;
    height: 100%;
  }

  #card img {
    width: 140px;
    max-height: 170px;
  }

  #btn {
    padding: 12px 50px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #card {
    padding: 15px;
    height: 100%;
  }

  #card img {
    width: 130px;
    max-height: 140px;
  }

  #btn {
    padding: 10px 40px;
  }
}