/* Asegurando que todo el contenido tenga fondo blanco y fuente Bentham Light */
* {
  font-family: 'Bentham', sans-serif;
  font-weight: 300; /* Bentham Light tiene un peso de 300 */
}

.container {
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}
#card {
  position: relative;
  width: 100%;
  padding: 18px 15px; 
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  border-radius: 10%;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0px; 
}

#card:hover {
  transform: scale(1.05);
}

#card img {
  display: block;
  width: 220px;
  max-height: 220px;
  position: relative;
  margin: 20px auto;
}

.hp {
  width: 80px;
  background-color: #ffffff; /* Fondo blanco */
  text-align: center;
  padding: 8px 0;
  border-radius: 15%;
  margin-left: auto;
  font-weight: 400;
  color: #000; /* Color de texto negro para contraste */
}

.poke-name {
  text-align: center;
  font-weight: 300; /* Bentham Light */
  font-family: 'Bentham', sans-serif; /* Aseguramos que se aplique la fuente Bentham */
  color: #000; /* Color de texto negro */
}


.types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px 0;
}

.hp span,
.types span {
  font-size: 17px;
  letter-spacing: 0.4px;
  font-weight: 600;
}

.types span {
  padding: 5px 20px;
  border-radius: 15%;
  color: #ffffff;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#btn {
  display: block;
  padding: 15px 60px;
  background-color: #101010;
  color: #ffffff;
  position: relative;
  margin: 50px auto;
  cursor: pointer;
  border: none;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.878);
  border-radius: 20%;
}

#btn:hover {
  background-color: #333333; /* Hover con un gris más oscuro */
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #card {
    padding: 20px 15px;
    border-radius: 15px;
  }

  #card img {
    width: 180px;
  }

  .types {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  #btn {
    padding: 12px 50px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #card {
    padding: 15px 10px;
    border-radius: 10px;
  }

  #card img {
    width: 150px;
  }

  .hp {
    width: 60px;
    padding: 5px 0;
  }

  .types span {
    padding: 5px 15px;
  }

  #btn {
    padding: 10px 40px;
  }
}
